.dices {
  flex: 1;
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.dices > div {
  transform: scale(0.5);
  position: absolute;
}

.dice-0 {
  top: 10px;
  left: 10px;
}

.dice-1 {
  top: 20px;
  left: 150px;
}

.dice-2 {
  top: 110px;
  left: 30px;
}
.dice-3 {
  top: 160px;
  left: 210px;
}
.dice-4 {
  top: 220px;
  left: 80px;
}

.check-state {
  height: 40px;
}

.App {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app_main {
  background-image: url(./rose.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
